In [12]:
! pip install pandas
! pip install petl
! pip install glob

Requirement already satisfied: pandas in c:\users\adamc\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adamc\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\adamc\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\adamc\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\adamc\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\adamc\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: petl in c:\users\adamc\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (1.7.4)

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\adamc\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.
ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\adamc\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [13]:
import pandas as pd
import petl as etl
import os
import glob

1.1. Creating dataframe of all CSV files

In [14]:
# CSV FILES APPENDING TO A SINGLE DATAFRAME

# path = "branch_data/sales_by_branch"
# all_csv_files = glob.glob(os.path.join(path, "*.csv"))

# df_from_each_csv_file = (pd
#                     .read_csv(file, sep=',')
#                     .rename(columns={
#                         'total_quantity': 'quantity', 
#                         'quantity_purchased': 'quantity',
#                         'total_quantity_purchased': 'quantity',
#                         'item': 'product',
#                         'sku': 'product',
#                         })
#                     .assign(branch = file[38:][:-4].replace('_', ' ')) 
#                     for file in all_csv_files)


# df_csv_merged = pd.concat(df_from_each_csv_file, ignore_index=True)

# # df_csv_merged = pd.DataFrame(df_csv_merged)
# df_csv_merged.head()

In [15]:
path = "branch_data/sales_by_branch/csv_pt_1"
all_csv_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_csv_file = (pd
                    .read_csv(file, sep=',')
                    .rename(columns={
                        'total_quantity': 'quantity', 
                        'quantity_purchased': 'quantity',
                        'total_quantity_purchased': 'quantity',
                        'item': 'product',
                        'sku': 'product',
                        })
                    .assign(branch = file[38:][:-4].replace('_', ' ')) 
                    for file in all_csv_files)


df_csv_merged = pd.concat(df_from_each_csv_file, ignore_index=True)

# df_csv_merged = pd.DataFrame(df_csv_merged)
df_csv_merged.head()

,year,month,day,hour,product,quantity,amount_in_gbp,branch
0,2010,1,9,0,chocolate twist,182,145.6,010-2020 Bassetlaw outlet
1,2010,1,9,0,plastic sunshades,98,313.6,010-2020 Bassetlaw outlet
2,2010,1,9,0,lg washing machine,151,12080.0,010-2020 Bassetlaw outlet
3,2010,1,9,0,fresh whole chicken,230,257.6,010-2020 Bassetlaw outlet
4,2010,1,9,0,free range large eggs x12,150,180.0,010-2020 Bassetlaw outlet

1.2. Creating dataframe of all JSON files

1.3. Creating complete dataframe with all data

In [16]:
# adding CSV and JSON files together

# add json when ready
complete_sales_df = df_csv_merged #.append(df_json_merged)
# complete_sales_df = complete_sales_df.head(1000)
complete_sales_df.head(5)
print(complete_sales_df.shape)

(2233025, 8)

1.4. Fixing formatting of the main dataframe

In [17]:
# USE ETL CONVERT TO REPLACE '-' IN quantity

# complete_sales_df = etl.fromdataframe(complete_sales_df)
# print(complete_sales_df.head(5))

# complete_sales_df = etl.replaceall(complete_sales_df, '-', '0')
# print(complete_sales_df.head(5))


# print(complete_sales_df.head(5))


# print(complete_sales_df.head(5))


# print(complete_sales_df.head(5))

# !!!!!!!!!!!!!!!!!!!!!!  BELOW WORKING  !!!!!!!!!!!!!!!!!!!!!!!!!


# test_df = pd.read_csv('test.csv' )
# test_df = pd.DataFrame(test_df)
# '''Step 1'''
# test_df = complete_sales_df
# print(test_df)
# '''2 Convert to dataframe'''
# test_df = etl.fromdataframe(test_df)
# print(test_df)
# '''3 replace '-' with 0'''
# test_df = etl.replaceall(test_df, '-', '0')
# print(test_df)
# '''4 convert to numbers'''
# test_df = etl.convertnumbers(test_df)
# print(test_df)
# '''5 convert back to dataframe'''
# test_df = etl.todataframe(test_df)
# print(test_df)
# '''6 groupby'''
# # test_df = test_df.groupby('filename').sum()

# print(test_df)

In [18]:
'''Step 1'''
complete_sales_df = complete_sales_df
print(complete_sales_df)

         year  month  day  hour                    product quantity  \
0        2010      1    9     0            chocolate twist      182
1        2010      1    9     0          plastic sunshades       98
2        2010      1    9     0         lg washing machine      151
3        2010      1    9     0        fresh whole chicken      230
4        2010      1    9     0  free range large eggs x12      150
...       ...    ...  ...   ...                        ...      ...
2233020  2020     12   22    23   hotpoint washing machine      132
2233021  2020     12   22    23            pain au raisins      221
2233022  2020     12   22    23                denim jeams       20
2233023  2020     12   22    23                  aubergine       33
2233024  2020     12   22    23        mild cheddar cheese      152

         amount_in_gbp                        branch
0               145.60     010-2020 Bassetlaw outlet
1               313.60     010-2020 Bassetlaw outlet
2             12080.00     010-2020 Bassetlaw outlet
3               257.60     010-2020 Bassetlaw outlet
4               180.00     010-2020 Bassetlaw outlet
...                ...                           ...
2233020       10560.00  010-2020 Castle Point outlet
2233021         110.50  010-2020 Castle Point outlet
2233022         600.00  010-2020 Castle Point outlet
2233023          22.77  010-2020 Castle Point outlet
2233024         334.40  010-2020 Castle Point outlet

[2233025 rows x 8 columns]

In [19]:
'''2 Convert to dataframe'''
complete_sales_df = etl.fromdataframe(complete_sales_df)
print(complete_sales_df)

+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| year | month | day | hour | product                   | quantity | amount_in_gbp      | branch                    |
+======+=======+=====+======+===========================+==========+====================+===========================+
| 2010 |     1 |   9 |    0 | chocolate twist           | 182      |              145.6 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | plastic sunshades         | 98       |              313.6 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | lg washing machine        | 151      |            12080.0 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | fresh whole chicken       | 230      |              257.6 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | free range large eggs x12 | 150      | 180.00000000000003 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
...

In [20]:
'''3 replace '-' with 0'''
complete_sales_df = etl.replaceall(complete_sales_df, '-', '0')
print(complete_sales_df)

+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| year | month | day | hour | product                   | quantity | amount_in_gbp      | branch                    |
+======+=======+=====+======+===========================+==========+====================+===========================+
| 2010 |     1 |   9 |    0 | chocolate twist           | 182      |              145.6 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | plastic sunshades         | 98       |              313.6 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | lg washing machine        | 151      |            12080.0 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | fresh whole chicken       | 230      |              257.6 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
| 2010 |     1 |   9 |    0 | free range large eggs x12 | 150      | 180.00000000000003 | 010-2020 Bassetlaw outlet |
+------+-------+-----+------+---------------------------+----------+--------------------+---------------------------+
...

In [21]:
'''4 convert to numbers'''
complete_sales_df = etl.addfield(complete_sales_df, 'qty', lambda row: int(row.quantity))
complete_sales_df = etl.cutout(complete_sales_df, 'quantity')
complete_sales_df

+------+-------+-----+------+-----------------------------+--------------------+-----------------------------+-----+
| year | month | day | hour | product                     | amount_in_gbp      | branch                      | qty |
+======+=======+=====+======+=============================+====================+=============================+=====+
| 2010 |     1 |   9 |    0 | 'chocolate twist'           |              145.6 | '010-2020 Bassetlaw outlet' | 182 |
+------+-------+-----+------+-----------------------------+--------------------+-----------------------------+-----+
| 2010 |     1 |   9 |    0 | 'plastic sunshades'         |              313.6 | '010-2020 Bassetlaw outlet' |  98 |
+------+-------+-----+------+-----------------------------+--------------------+-----------------------------+-----+
| 2010 |     1 |   9 |    0 | 'lg washing machine'        |            12080.0 | '010-2020 Bassetlaw outlet' | 151 |
+------+-------+-----+------+-----------------------------+--------------------+-----------------------------+-----+
| 2010 |     1 |   9 |    0 | 'fresh whole chicken'       |              257.6 | '010-2020 Bassetlaw outlet' | 230 |
+------+-------+-----+------+-----------------------------+--------------------+-----------------------------+-----+
| 2010 |     1 |   9 |    0 | 'free range large eggs x12' | 180.00000000000003 | '010-2020 Bassetlaw outlet' | 150 |
+------+-------+-----+------+-----------------------------+--------------------+-----------------------------+-----+
...

In [22]:
# save to csv
etl.tocsv(complete_sales_df,'test.csv')

In [23]:
'''5 convert back to dataframe'''
complete_sales_df = etl.todataframe(complete_sales_df)
print(complete_sales_df)

         year  month  day  hour                    product  amount_in_gbp  \
0        2010      1    9     0            chocolate twist         145.60
1        2010      1    9     0          plastic sunshades         313.60
2        2010      1    9     0         lg washing machine       12080.00
3        2010      1    9     0        fresh whole chicken         257.60
4        2010      1    9     0  free range large eggs x12         180.00
...       ...    ...  ...   ...                        ...            ...
2233020  2020     12   22    23   hotpoint washing machine       10560.00
2233021  2020     12   22    23            pain au raisins         110.50
2233022  2020     12   22    23                denim jeams         600.00
2233023  2020     12   22    23                  aubergine          22.77
2233024  2020     12   22    23        mild cheddar cheese         334.40

                               branch  qty
0           010-2020 Bassetlaw outlet  182
1           010-2020 Bassetlaw outlet   98
2           010-2020 Bassetlaw outlet  151
3           010-2020 Bassetlaw outlet  230
4           010-2020 Bassetlaw outlet  150
...                               ...  ...
2233020  010-2020 Castle Point outlet  132
2233021  010-2020 Castle Point outlet  221
2233022  010-2020 Castle Point outlet   20
2233023  010-2020 Castle Point outlet   33
2233024  010-2020 Castle Point outlet  152

[2233025 rows x 8 columns]

In [24]:
'''6 groupby'''
complete_sales_df = complete_sales_df.groupby('branch').sum()

print(complete_sales_df)

                                    year    month       day      hour  \
branch
010-2020 Bassetlaw outlet     2256117614  7236424  16237355  12880923
010-2020 Castle Point outlet  2243469016  7261112  16083566  12697781

                              amount_in_gbp        qty
branch
010-2020 Bassetlaw outlet      1.383844e+10  131010110
010-2020 Castle Point outlet   1.376304e+10  130164584

In [25]:
'''
can use etl cut to cut out only columns that I am going to use
manufacturers_table = etl.transform.cut(purchases_table, 'mnf')
'''

"\ncan use etl cut to cut out only columns that I am going to use\nmanufacturers_table = etl.transform.cut(purchases_table, 'mnf')\n"

In [26]:
# df_csv_merged_grouped.shape
# df_csv_merged_grouped = df_csv_merged.groupby(['product', 'filename']).sum('quantity')

In [27]:
# # JSON FILES APPENDING TO A SINGLE DATAFRAME
# path = "branch_data/sales_by_branch"

# all_json_files = glob.glob(os.path.join(path, "*.json"))

# df_from_each_json_file = (pd
#                     .read_json(file)
#                     .rename(columns={
#                         'total_quantity': 'quantity', 
#                         'quantity_purchased': 'quantity',
#                         'total_quantity_purchased': 'quantity',
#                         'item': 'product',
#                         'sku': 'product'
#                         })
#                     .assign(filename = file[38:][:-5]) 
#                     for file in all_json_files )

# df_from_each_json_file

# df_json_merged = pd.concat(df_from_each_json_file, ignore_index=True)

# df_json_merged.head()

In [28]:
# # adding city column by converting filename

# '''
# need do this after cleaning data
# '''

# converted_branch_name = []

# for line in complete_sales_df.filename:
#     line = line.replace('_', ' ')
#     converted_branch_name.append(line)

# complete_sales_df = complete_sales_df.assign(branch = converted_branch_name)
# complete_sales_df